{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gestión Mascotas</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <h1>Gestión Mascotas</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
    </form>
    <br> |
    <button type="submit">Guardar Mascota</button> |
    <button type="submit">Buscar Mascota por dueño</button> |
    <button type="submit">Modificar Mascota</button> |
    <button type="submit">Eliminar Mascota</button> |
    <br>
    <br>
    <br>
    <a href="{% url 'servicios' %}">Volver a Servicios</a>
</body>
</html>

 