/* Fondo general y fuente */
body {
    background-color: #fef8f4;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    padding: 40px;
    color: #333;
}

/* Imagen del logo */
img.logo {
    width: 265px;
    margin-bottom: 20px;
}

/* Título principal */
h1 {
    color: #30887a;
    font-size: 2.5em;
}

/* Subtítulo */
h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #555;
}
ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}

li{
    color: #30887a;
    font-size: 1.2em;
}

/* Texto general */
p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* Botones de navegación */
a {
    text-decoration: none;
    color: #ffffff;
    background-color: #30887a;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

/* Efecto hover */
a:hover {
    background-color: #58b0a1;
}

/* Reloj */
.reloj {
    margin-top: 30px;
    font-size: 1.1em;
    color: #666;
}
/* Estilo para la tabla de dueños */
table {
    margin: 0 auto; /* centrado horizontal */
    border-collapse: collapse;
    width: 80%;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

th {
    background-color: #30887a;
    color: white;
    padding: 12px;
    font-size: 1.1em;
    border-bottom: 2px solid #ddd;
}

td {
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-size: 1em;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f4fdfc;
}

tr:hover {
    background-color: #e0f7f3;
}
/* Mensaje de resultado */
.mensaje {
    margin: 20px auto;
    width: 60%;
    padding: 15px 20px;
    font-size: 1.1em;
    border-radius: 8px;
    background-color: #e8f6f4;
    color: #2a7469;
    border: 1px solid #bce0da;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}