<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Zona de Clientes</title>
</head>
<body>
    <h1>Zona de Clientes</h1>
    <p>Próximamente podrás ver aquí la información de tus mascotas, citas y más.</p>
    <h2>Consulta:</h2>
    <ul>
        <li>Nombre de mascota: {{ nombre_mascota }}</li>
        <li>Fecha de cita: {{ fecha_cita }}</li>
        <li>Diagnostico: {{ veterinario }}</li>
    </ul>
    <a href="{% url 'inicio' %}">Volver al inicio</a>
</body>
</html>

 